main {
    .formulario {
        height: 50%;
        width: 30%;
        margin-left: 5%;
        background-color: rgb(204, 200, 200);
        border-radius: 5%;

        h3 {
            margin-left: 7%;
        }

        form {
            height: 90%;
            width: 90%;
            margin-left: 5%;
            padding-top: 5%;
        }
    }
}